<mat-card-title>
  {{ titulo }}
</mat-card-title>

<mat-card-content>

  <form class="form-container">

    <mat-form-field>
      <mat-label>Nome</mat-label>
      <input matInput placeholder="Informe o nome" required name="nome_contato" [(ngModel)]="contato.nome_contato">
    </mat-form-field>
    
    <mat-form-field>
      <mat-label>E-mail</mat-label>
      <input matInput placeholder="Informe o email" required name="email_contato" [(ngModel)]="contato.email_contato">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Mensagem</mat-label>
      <input matInput placeholder="Informe a mensagem" required name="mensagem" [(ngModel)]="contato.mensagem">
    </mat-form-field>

  </form>

</mat-card-content>

<mat-card-actions class="center-buttons">
  <button mat-flat-button color="primary" (click)="salvar()">Salvar</button>
  <button mat-flat-button color="warn" (click)="cancelar()">Cancelar</button>
</mat-card-actions>