<mat-card-title>
  Listagem de contatos
</mat-card-title>

<mat-card-actions>
  <a mat-raised-button href="contato/novo" color="accent">Novo contato</a>
</mat-card-actions>

<mat-card-content>
  <table mat-table [dataSource]="contatos">
    
    <ng-container matColumnDef="nome_contato">
      <th mat-header-cell *matHeaderCellDef>Nome do Contato</th>
      <td mat-cell *matCellDef="let contato">
        <a [routerLink]="['/contato', contato._id]">
          {{contato.nome_contato}}
        </a>
      </td>
    </ng-container>

    <ng-container matColumnDef="email_contato">
      <th mat-header-cell *matHeaderCellDef>E-mail Do contato</th>
      <td mat-cell *matCellDef="let contato">{{contato.email_contato}}</td>
    </ng-container>

    <ng-container matColumnDef="mensagem">
      <th mat-header-cell *matHeaderCellDef>Mensagem/th>
      <td mat-cell *matCellDef="let contato">{{contato.mensagem}}</td>
    </ng-container>

    <ng-container matColumnDef="excluir">
      <th mat-header-cell *matHeaderCellDef>Excluir</th>
      <td mat-cell *matCellDef="let contato">
        <button mat-flat-button color="warn" (click)="excluir(contato._id)">
          <mat-icon>delete_forever</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="colunasVisiveis"></tr>
    <tr mat-row *matRowDef="let linhaTab; columns: colunasVisiveis"></tr>
    
  </table>
</mat-card-content>