<mat-card-title>
  {{ titulo }}
</mat-card-title>

<mat-card-content>

  <form class="form-container">

    <mat-form-field>
      <mat-label>Usuario</mat-label>
      <input matInput placeholder="Informe o usuario" required name="usuario" [(ngModel)]="users.usuario">
    </mat-form-field>
    
    <mat-form-field>
      <mat-label>Senha</mat-label>
      <input matInput placeholder="Informe o Senha" required name="senha" [(ngModel)]="users.senha">
    </mat-form-field>
  </form>

</mat-card-content>

<mat-card-actions class="center-buttons">
  <button mat-flat-button color="primary" (click)="salvar()">Salvar</button>
  <button mat-flat-button color="warn" (click)="cancelar()">Cancelar</button>
</mat-card-actions>