<mat-card-title>
  {{ titulo }}
</mat-card-title>

<mat-card-content>

  <form class="form-container">

    <mat-form-field>
      <mat-label>Nome do projeto</mat-label>
      <input matInput placeholder="Informe o projeto" required name="nome_projeto" [(ngModel)]="portifolio.nome_projeto">
    </mat-form-field>
    
    <mat-form-field>
      <mat-label>Usuário</mat-label>
      <mat-select placeholder="Selecione o usuario" required name="usuario" [(ngModel)]="portifolio.usuario">
        <mat-option *ngFor="let usuario of usuarios" [value]="usuario._id">
          {{ usuario.usuario }}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </form>

</mat-card-content>

<mat-card-actions class="center-buttons">
  <button mat-flat-button color="primary" (click)="salvar()">Salvar</button>
  <button mat-flat-button color="warn" (click)="cancelar()">Cancelar</button>
</mat-card-actions>