<mat-card-title>
  Listagem de skills
</mat-card-title>

<mat-card-actions>
  <a mat-raised-button href="skill/novo" color="accent">Novo skill</a>
</mat-card-actions>

<mat-card-content>
  <table mat-table [dataSource]="skills">
    
    <ng-container matColumnDef="nome_skill">
      <th mat-header-cell *matHeaderCellDef>Skill</th>
      <td mat-cell *matCellDef="let skill">
        <a [routerLink]="['/skill', skill._id]">
          {{skill.nome_skill}}
        </a>
      </td>
    </ng-container>

    <ng-container matColumnDef="desc_skill">
      <th mat-header-cell *matHeaderCellDef>Descricão</th>
      <td mat-cell *matCellDef="let skill">{{skill.desc_skill}}</td>
    </ng-container>

    <ng-container matColumnDef="usuario">
      <th mat-header-cell *matHeaderCellDef>Usuario</th>
      <td mat-cell *matCellDef="let skill">{{skill.usuario.usuario}}</td>
    </ng-container>

    <ng-container matColumnDef="excluir">
      <th mat-header-cell *matHeaderCellDef>Excluir</th>
      <td mat-cell *matCellDef="let skill">
        <button mat-flat-button color="warn" (click)="excluir(skill._id)">
          <mat-icon>delete_forever</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="colunasVisiveis"></tr>
    <tr mat-row *matRowDef="let linhaTab; columns: colunasVisiveis"></tr>
    
  </table>
</mat-card-content>