<mat-card-title>
  Usuários
</mat-card-title>

<mat-card-actions>
  <a mat-raised-button href="users/novo" color="accent">Novo Usuário</a>
</mat-card-actions>

<mat-card-content>
  <table mat-table [dataSource]="userss">
    
    <ng-container matColumnDef="usuario">
      <th mat-header-cell *matHeaderCellDef>Usuário</th>
      <td mat-cell *matCellDef="let users">
        <a [routerLink]="['/users', users._id]">
          {{users.usuario}}
        </a>
      </td>
    </ng-container>

    <ng-container matColumnDef="senha">
      <th mat-header-cell *matHeaderCellDef>Senha</th>
      <td mat-cell *matCellDef="let users">{{users.senha}}</td>
    </ng-container>

    <ng-container matColumnDef="excluir">
      <th mat-header-cell *matHeaderCellDef>Excluir</th>
      <td mat-cell *matCellDef="let users">
        <button mat-flat-button color="warn" (click)="excluir(users._id)">
          <mat-icon>delete_forever</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="colunasVisiveis"></tr>
    <tr mat-row *matRowDef="let linhaTab; columns: colunasVisiveis"></tr>
    
  </table>
</mat-card-content>