<mat-card-title>
  Listagem de portifolios
</mat-card-title>

<mat-card-actions>
  <a mat-raised-button href="portifolio/novo" color="accent">Novo portifolio</a>
</mat-card-actions>

<mat-card-content>
  <table mat-table [dataSource]="portifolios">
    
    <ng-container matColumnDef="nome_projeto">
      <th mat-header-cell *matHeaderCellDef>Nome do Projeto</th>
      <td mat-cell *matCellDef="let portifolio">
        <a [routerLink]="['/portifolio', portifolio._id]">
          {{portifolio.nome_projeto}}
        </a>
      </td>
    </ng-container>

    <ng-container matColumnDef="usuario">
      <th mat-header-cell *matHeaderCellDef>Usuario</th>
      <td mat-cell *matCellDef="let portifolio">{{portifolio.usuario.usuario}}</td>
    </ng-container>

    <ng-container matColumnDef="excluir">
      <th mat-header-cell *matHeaderCellDef>Excluir</th>
      <td mat-cell *matCellDef="let portifolio">
        <button mat-flat-button color="warn" (click)="excluir(portifolio._id)">
          <mat-icon>delete_forever</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="colunasVisiveis"></tr>
    <tr mat-row *matRowDef="let linhaTab; columns: colunasVisiveis"></tr>
    
  </table>
</mat-card-content>