<mat-toolbar color="primary">

  <button mat-icon-button [matMenuTriggerFor]="rootMenu">
    <mat-icon>more_vert</mat-icon>
  </button>

  <mat-menu #rootMenu="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="subMenu">Cadastro</button>
  </mat-menu>

  <mat-menu #subMenu="matMenu">
    <a mat-menu-item href="texto">Textos</a>
    <a mat-menu-item href="users">Usuários</a>
    <a mat-menu-item href="skill">Habiliades</a>
    <a mat-menu-item href="portifolio">Portfólio</a>
    <a mat-menu-item href="contato">Contato</a>



    <!-- Coloque novos itens do submenu aqui -->
  </mat-menu>

  <span>{{ title }}</span>
</mat-toolbar>

<div class="main-container">
  <mat-card>
    <router-outlet>

      <button mat-menu-item ><a mat-menu-item href="texto">Textos</a></button>
      <button mat-menu-item><a mat-menu-item href="users">Usuários</a></button>
      <button mat-menu-item><a mat-menu-item href="skill">Habiliades</a></button>
      <button mat-menu-item><a mat-menu-item href="portifolio">Portfólio</a></button>
      <button mat-menu-item><a mat-menu-item href="contato">Contato</a></button>


    </router-outlet>
  </mat-card>
</div>