<mat-card-title>
  Listagem de textos
</mat-card-title>

<mat-card-actions>
  <a mat-raised-button href="texto/novo" color="accent">Novo texto</a>
</mat-card-actions>

<mat-card-content>
  <table mat-table [dataSource]="textos">
    
    <ng-container matColumnDef="titulo">
      <th mat-header-cell *matHeaderCellDef>Titulo</th>
      <td mat-cell *matCellDef="let texto">
        <a [routerLink]="['/texto', texto._id]">
          {{texto.titulo}}
        </a>
      </td>
    </ng-container>

    <ng-container matColumnDef="texto">
      <th mat-header-cell *matHeaderCellDef>Tipo</th>
      <td mat-cell *matCellDef="let texto">{{texto.texto}}</td>
    </ng-container>

    <ng-container matColumnDef="usuario">
      <th mat-header-cell *matHeaderCellDef>Usuario</th>
      <td mat-cell *matCellDef="let texto">{{texto.usuario.usuario}}</td>
    </ng-container>

    <ng-container matColumnDef="excluir">
      <th mat-header-cell *matHeaderCellDef>Excluir</th>
      <td mat-cell *matCellDef="let texto">
        <button mat-flat-button color="warn" (click)="excluir(texto._id)">
          <mat-icon>delete_forever</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="colunasVisiveis"></tr>
    <tr mat-row *matRowDef="let linhaTab; columns: colunasVisiveis"></tr>
    
  </table>
</mat-card-content>